<form action="/favouritelist" method="POST" style="display:inline;">
    <input type="hidden" name="homeId" value="<%= home._Id %>">
    <button type="submit"
        style="background-color: #90e323; color: #545441; width: 125px; font-size: 1rem; font-weight: 900; height: 55px; margin: 0.5rem; padding: 0.6rem; border-radius: 0.4rem; display: flex; justify-content: center; align-items: center; border: none; cursor: pointer;">
        Add to Favourite
    </button>
</form>