<%- include('partials/head') %>

    <body>
        <h1>404 Oops! Page Not Found</h1>
        <%- include('partials/nav') %>
            <a href="/" alt="link">Back to Homepage</a>
    </body>

    </html>