<%- include('partials/head') %>
    <body>
        <h1>Home Registration Successfully</h1>
        <%- include('partials/nav') %>
            <main>
                <a href="/home" alt="link">Go to Homepage</a>
                <a href="/add-home" alt="link">Add Home</a>
            </main>
    </body>

    </html>

