/* body {
    background-color: rgb(65, 65, 177);
    color: white;
}

div {
    background-color: rgb(231, 141, 24);
}

span {
    background-color: rgb(19, 168, 118);
}
a{
    background-color: rgb(255, 0, 0);
}
p{
    background-color: rgb(8, 137, 8);
} */
/* h1 {
    background-color: rgb(239, 184, 111);
}

h1 {
    color: rgb(0, 0, 0);
} */
